{% extends "base.html" %}

{% block title %}
Обо мне
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Обо мне</h1>
    <p>Добро пожаловать в библиотеку. Здесь вы найдете обширную коллекцию книг.</p>
    <p>В этой библиотеке собрано большое количество книг самых разных жанров и направлений, чтобы каждый мог найти что-то по душе.</p>
    <p>Если у вас есть вопросы или предложения, пожалуйста, не стесняйтесь связаться со мной через страницу <a href="{{ url_for('contacts') }}">Контакты</a>.</p>
</div>
{% endblock %}
