{% extends "base.html" %}

{% block title %}
Контакты
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">Контакты</h1>
    <p>Если у вас есть вопросы, предложения или комментарии, пожалуйста, свяжитесь со мной. Я всегда рад услышать от читателей и обсудить книги!</p>

    <h3 class="mt-4">Способы связи:</h3>
    <ul class="list-unstyled">
        <li><i class="fa-solid fa-envelope" style="color: #74C0FC;"></i> Email: galina@example.com</li>
        <li><i class="fa-solid fa-phone" style="color: #74C0FC;"></i> Телефон: +7 (000) 000-00-00</li>
        <li><i class="fa-solid fa-map-marker-alt" style="color: #74C0FC;"></i> Адрес: ул. Пушкина, д. Тургеневых, г. Москва</li>
    </ul>
</div>
{% endblock %}
